* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {

  background-image: url("/Imagens/background.jpg");
  height: 68vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: space-around;
}

.box1 {
  height: 170px;
  width: 315px;
  border-radius: 20px;
  background-image: linear-gradient(transparent 0%, #4b872667 0px), url('/Imagens/espiral.jpg');
  display: flex;
  align-items: center;
  justify-content: center;

}



.box2 {
  height: 170px;
  width: 315px;
  border-radius: 20px;
  background-color: #440677;
  display: flex;
  align-items: center;
  justify-content: center;

}

.text {
  color: #fff9f9;
}

body {
  background-color: black;
  height: 100px;
  width: 100%;
}

h1 {
  text-align: center;
}



.logo {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  
}

.sspiral {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  display: flex;
}