header h1{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    color: #fff;
}
h1, h2, h3, h4.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.body {
  background-color: #000000;
}
